 <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-4"></div>
            <div class="col col-12 col-sm-4">
                <form method="POST" action="/getdata">       <!--specify a method to read value from form-->
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" name="address"></td>
                    </tr>
                    <tr>
                        <td>Place</td>
                        <td><input type="text" name="place"></td>
                    </tr>
                    <tr>
                        <td>Mobile</td>
                        <td><input type="text" name="mobile"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <td></td>
                       <td><button type="submit" class="btn btn-primary">Submit</button></td>
                     
                    </tr>
                    
                </table>
            </form>
                <div class="col col-12 col-sm-4"></div>
            </div>
        </div>
    </div>