  <h3>Hello{{name}}</h3>        <!--to get data from backend to frondend-->
  
  <div class="container">
      
            <div class="row">
                <div class="col col-sm-6">
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores est aliquam exercitationem harum, quo, pariatur, aut commodi reprehenderit ab ducimus earum autem atque tempore. At aperiam reprehenderit accusantium officia quia?</h1>
                </div>
                <div class="col col-sm-6">
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam atque molestias, animi doloremque cumque at corporis iusto incidunt vitae unde, quas deleniti ut velit aspernatur reprehenderit, vel praesentium architecto et.</h1>
                </div>

            </div>
     </div>